.footer-section{
    font-size: 14px;
    background-color: #1f1f24;
    padding: 50px 0;
    color: rgba(255, 255, 255, 0.7);
    
    .footer{
        color: rgba(255, 255, 255, 0.7);
    }
    .address{
        display: flex;
    }

}
