body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.landing-page {
  font-family: ui-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../Assets/pictures/about-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  backdrop-filter: blur(5px);
  .content {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    display: flex;
    height: 541px;
    width: 80%;
    margin: 0 auto;
  }
  .left-side {
    background-color: white;

    .heading {
      margin-left: 15px;
      margin-top: 24px;

      h3 {
        font-weight: 700;
      }
      h5 {
        font-weight: 600;
      }
      p {
        opacity: 0.7;
      }
    }

    .details {
      .buttons {
        margin: 10px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
      }
      .login,
      .sign {
        width: 48%;
      }
    }
  }
  .right-side {
    background-size: cover;
    padding: 0;
    img {
      max-width: 100%;
      height: 100%;
      width: 100%;
    }
  }
}
.carousel-item.active {
  float: none !important;
  justify-content: center;
  align-items: center;
  display: flex !important;
}
iframe {
  border: 0;
  height: 100%;
  width: 100%;
}
.carousel-inner {
  height: 500px;
}

.active.carousel-item {
  height: 500px;
}

img.slider-img {
  height: 100%;
  width: auto;
}
